################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BlazorAppNetCore8/FileContentIndex
/BlazorAppNetCore8/BlazorAppNetCore8/bin
/BlazorAppNetCore8/BlazorAppNetCore8/obj
/BlazorAppNetCore8/BlazorAppNetCore8.Client/bin
/BlazorAppNetCore8/BlazorAppNetCore8.Client/obj
/BlazorAppNetCore8/BlazorAppNetCore8/Properties/PublishProfiles
/BlazorAppNetCore8/BlazorAppNetCore8/Properties/ServiceDependencies/cashflowv2 - Web Deploy
