################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BlazorAppNetCore8/FileContentIndex
/BlazorAppNetCore8/BlazorAppNetCore8/bin/Debug/net8.0
/BlazorAppNetCore8/BlazorAppNetCore8/obj
/BlazorAppNetCore8/BlazorAppNetCore8.Client/bin/Debug/net8.0
/BlazorAppNetCore8/BlazorAppNetCore8.Client/obj
